# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
.ipynb_checkpoints/

# IDE/editor configs
.vscode/
.idea/

# System files
.DS_Store

# Build artifacts
*.egg-info/

# Project-specific
DATA/
output.dat
